<form [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Your Street" formControlName="street">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Your City" formControlName="city">
  </mat-form-field>

  <mat-form-field class>
    <input matInput placeholder="Your Country" formControlName="country">
  </mat-form-field>
</form>

<button mat-raised-button routerLink="../step-one">Go Back</button>
<button mat-raised-button routerLink="../step-three">Next</button>
